.app {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  padding-top: 100px;
}
.section {
  padding: 20px 30px;
  background-color: blanchedalmond;
  border: 1px solid rgb(195, 181, 159);
  border-radius: 10px;
}
.title {
  text-align: center;
  color: #212121;
  margin-bottom: 20px;
  font-size: 26px;
}
.buttons__box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-around;
}
.btn {
  padding: 6px 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
}
.btn:nth-child(2) {
  background-color: #ffc107;
}
.btn:last-child {
  background-color: #dc3545;
}
.btn:hover {
  background-color: #218838;
}
.btn:nth-child(2):hover {
  background-color: #e0a800;
}
.btn:last-child:hover {
  background-color: #c82333;
}
.statistics__list {
  display: flex;
  flex-direction: column;
  gap: 3px;
  color: #212121;
}